.activity-list-sort {
  height: 40px;
  width: 100%;
  left: 0;
  right: 0;
  top: 81px;
  border-bottom: solid 1px #edebe6;
  z-index: 1;
  background: white;
  padding: 0;
  display: flex; }
  .activity-list-sort .activity-list-sort-option {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 25px;
    background: #43D1AF;
    border-bottom: 2px solid #30C29E;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    color: #fff;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 0, 30px;
    margin: 0 30px; }
  .activity-list-sort .highlighted {
    background: #2EBC99; }
