.activity-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;


  .activity-list-item {
    display: block;
    padding: 20px;
    width: 150px;
    height: 75px;
    border: solid 3px;
    margin-top: 10px;
  }
  .activity-good {
    border-color: green;
  }

  .activity-bad {
    border-color: red;
  }
}
