.activity-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;


  .activity-list-item {
    display: block;
    padding: 20px;
    width: 150px;
    height: 75px;
    border: solid 3px;
    margin-top: 10px;
    overflow: scroll;
  }
  .activity-good {
    border-color: green;
  }

  .activity-bad {
    border-color: red;
  }

  .activity-bad:hover {
    background-color: lighten(red, 20);
  }

  .activity-good:hover {
    background-color: lighten(green, 50);
  }

  // .hightlight {
  //   background-color:
  // }
  //
  // .activity-list-item:after {
  //   background-color: blue !important;
  //     content: "";
  //     background: #f1c40f;
  //     display: block;
  //     position: absolute;
  //     padding-top: 300%;
  //     padding-left: 350%;
  //     margin-left: -20px !important;
  //     margin-top: -120%;
  //     opacity: 0;
  //     transition: all 0.8s
  // }

  // .activity-list-item:active:after {
  //   background-color: blue !important;
  //     padding: 0;
  //     margin: 0;
  //     opacity: 1;
  //     transition: 0s
  // }

  .activity-list-item:active {
    background-color: blue;

  }











}
