.activity-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;


  .activity-list-item {
    display: block;
    padding: 20px;
    width: 150px;
    height: 75px;
    border: solid 1px;
    margin-top: 10px;
  }
}
