.activity-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;


  .activity-list-item {
    position: relative;
    display: inline-block;
    vertical-align: top;
    height: 200px;
    width: 250px;
    margin: 10px;
    padding: 20px;
    border-radius: 2px;
    background: white;
    box-shadow: 0 2px 1px rgba(170, 170, 170, 0.25);
    box-sizing: border-box;
    font-size: 14px;
    overflow: hidden;

    .activity-list-item-name {
      display: block;
      max-width: 80%;
      font-size: 16px;
      line-height: 20px;
    }

    .activity-list-item-description {
      font-size: 11px;
      line-height: 16px;
    }

    .activity-list-item-value {
      position: absolute;
      top: 20px;
      right: 20px;
      font-size: 16px;
    }

  }
  .activity-good {
    .activity-list-item-value {
      color: green;
    }
  }

  .activity-bad {
    .activity-list-item-value {
      color: red;
    }
  }

  .activity-bad:hover {
    background-color: #EDAFB8;
  }

  .activity-good:hover {
    background-color: #B0C4B1;
  }

  .activity-list-item:active {
    background-color: #4E5166;

  }

  .activity-list-item-progress {
   display: block;
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   width: 90%;
   padding: 20px;
   border-top: 1px solid #eee;
   font-size: 13px;
   .activity-list-item-progress-bg {
      width: 40%;
      display: inline-block;
      vertical-align: middle;
      position: relative;
      width: 100px;
      height: 4px;
      border-radius: 2px;
      overflow: hidden;
      background: #eee;
      .activity-list-item-progress-fg {
        position: absolute;
        top: 0;
        bottom: 0;
        height: 100%;
        left: 0;
        margin: 0;
        background: #8DC63F;
      }
   }


   .activity-list-item-progress-labels {
     position: absolute;
     right: 20px;
     top: 0;
     line-height: 40px;

     .activity-list-item-progress-label {
       line-height: 21px;
       font-size: 13px;
       font-weight: 400;
       vertical-align: middle;
       margin: 0 10px;
       color: #8DC63F;
     }

     .activity-list-item-progress-completes {
       line-height: 21px;
       font-size: 13px;
       vertical-align: middle;
     }
   }
 }
 .activity-list-sort {
   height: 40px;
   width: 100%;
   left: 0;
   right: 0;
   top: 81px; //smelly
   border-bottom: solid 1px #edebe6;
   z-index: 1;
   background: white;
   padding: 0;
   display: flex;

   .activity-list-sort-option {
     box-sizing: border-box;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     height: 25px;

     background: #43D1AF;
     border-bottom: 2px solid #30C29E;
     border-top-style: none;
     border-right-style: none;
     border-left-style: none;
     color: #fff;
     position: relative;
     top: 50%;
     transform: translateY(-50%);
     padding: 0, 30px;
     margin: 0 30px;
   }

   .highlighted {
     background: #2EBC99;

   }

 }


}



.background-closeup {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.closeup {
  border-radius: 2px;
  background: white;
  box-shadow: 0 2px 1px rgba(170, 170, 170, 0.25);
  position: fixed;
  z-index: 11;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 60%;

  .closeup-name {
    display: block;
    max-width: 80%;
    font-size: 16px;
    line-height: 20px;
  }

  .closeup-description {
    font-size: 11px;
    line-height: 16px;
  }

  .closeup-value {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 16px;
  }
}
