$PRIMARY_COLOR: #5F5AA2;
$SECONDARY_COLOR: #355691;
$PRIMARY_LIGHT: #C9D7F8;
nav.navbar {
  float:left;
  width:100%; height:auto;
  margin:30px 0;
  background-color:#ecf0f1;
  border-radius:4px;
  overflow:hidden;
  box-shadow:0 0 5px rgba(0,0,0,0.3);
  display: flex;

  .navbar-logo {
    margin:0; padding:0;
    list-style:none;
    width:100%;
    border-radius:4px;
    overflow:hidden;
  }
  span {
    display:block;
  }

  a.navbar-logo {
    list-style:none;
    width:100%;
    border-radius:4px;
    overflow:hidden;
    float:left;
    width:20%;
    color:#848484;
    font-size:20px;
    text-decoration:none;
    width:100%;
    padding:20px 20px;
    margin:0;
    display:block;
    position:relative;
    transition: all 0.3s ease;
  }

  ul {
    margin:0; padding:0;
    list-style:none;
    width:70%;
    border-radius:4px;
    overflow:hidden;
    display: flex;

    li:hover a:before, a:hover:before {
      right:0;
      left:0;
    }

    li {
      float:left;
      padding:0; margin:0;
      width:20%;

      a {
        color:#848484;
        font-size:20px;
        text-decoration:none; text-align:center;
        width:100%;
        padding:20px 0;
        display:block; position:relative;
        transition: all 0.3s ease;
      }
      a:hover {
        color:#e74c3c;
      }
      a:before {
        content:'';
        transition:all .4s ease-in-out;
        position:absolute; right:50%; left:50%; bottom:0;
        display:block;
        height:2px;
        background-color:#e74c3c;
      }
    }
  }

}
