// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.body-container {
  padding-top: 80px;
  // background: #f5f5f5;
  // height: 100%;
}

a {
  color: #000;
  text-decoration: none;
}
